//デバッグ用
.mainButton-test {
    margin-top: 1rem;
    text-align: center;
}

//--共通項目--
//ヘッダー
.header {
    margin: 3rem auto;  
}

//フッター
.footer p{
    text-align: center;
}

//--スレッド作成画面--
.badgeAlert {
    margin-left: 0.5rem;
}

//--入力内容確認画面--
.mainButton {
    text-align: center;
}

.fixBackground {
    background-color: #e9ecef;
}